<div class="card-container" [class.card-reserved]="item.status === 'RESERVED'">
  <div class="card-top">
    <span class="tracking-badge">{{ item.trackingCode }}</span>
    <span class="status-badge" [ngClass]="getStatusClass(item.status)">
      {{ item.status === 'AVAILABLE' ? 'Disponible' : (item.status === 'RESERVED' ? 'Reservado' : item.status) }}
    </span>
  </div>

  <h3 class="card-title">{{ item.title }}</h3>
  <div class="card-category">{{ item.categoryName || 'Hardware RAEE' }}</div>

  <div class="specs-preview" *ngIf="item.brand || item.model">
    <span class="chip" *ngIf="item.brand">Marca: {{ item.brand }}</span>
    <span class="chip" *ngIf="item.model">Modelo: {{ item.model }}</span>
  </div>

  <div class="condition-badge" [ngClass]="item.conditionState">
    🔧 {{ getConditionLabel(item.conditionState) }}
  </div>

  <div class="metrics-row">
    <div class="metric-item">
      <span class="label">Peso</span>
      <span class="val">{{ item.weightKg }} kg</span>
    </div>
    <div class="metric-item carbon">
      <span class="label">CO₂ Evitado</span>
      <span class="val green">🌿 -{{ item.co2SavedKg }} kg</span>
    </div>
  </div>

  <p class="notes" *ngIf="item.notes">{{ item.notes }}</p>

  <div class="card-footer">
    <span class="location" *ngIf="item.location">📍 {{ item.location }}</span>
    
    <button 
      class="btn-action" 
      [disabled]="item.status !== 'AVAILABLE'"
      (click)="onReserve()">
      {{ item.status === 'AVAILABLE' ? 'Solicitar / Reservar' : 'No Disponible' }}
    </button>
  </div>
</div>
