<div class="eco-app-layout">
  <a class="skip-link" href="#main-content" (click)="skipToContent($event, mainContent)">Saltar al contenido</a>
  <app-navbar></app-navbar>
  <main #mainContent id="main-content" class="main-content" tabindex="-1">
    @if (notifications.message()) {
      <div class="notification" role="alert">
        <span>{{ notifications.message() }}</span>
        <button type="button" (click)="notifications.dismiss()">Cerrar aviso</button>
      </div>
    }
    <router-outlet></router-outlet>
  </main>
</div>
